<ion-content>
  <ion-card class="mt-150">
    <ion-card-header class="text-center">
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
            <ion-item lines="none">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" required="true"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
            <div class="text-center mt-20">
              <ion-button color="primary" shape="round" (click)="register()">Register</ion-button>
            </div>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>