<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Category</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong class="capitalize">Category</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="categoryDetails.type" interface="action-sheet"
        placeholder="Select One">
        <ion-select-option value="income">Income</ion-select-option>
        <ion-select-option value="expense">Expense</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="categoryDetails.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let icon of iconArr" size="4" class="hoverOrange" (click)="selectedIcon(icon)">
            <div class="selectIcon text-center">
              <ion-icon class="text-center" [name]="icon.icon_name"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div class="text-center mt-20">
      <ion-button color="primary" shape="round" (click)="addCategory()">Add</ion-button>
    </div>
  </div>
</ion-content>